/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content:space-evenly;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
  

  
}
ul{
padding-inline-start: 5px;

}
a {
   
    transition: transform 0.3s; /* Smooth transition */
}

a:hover {
    transform: scale(1.1); /* Zoom-in effect */
    color: #e35f92;; /* Change text color on hover */
}



.colorLinks{

    color: #009485;
    font-weight: 800;
    cursor: pointer;
   
    text-decoration: underline;
}


.note{
    text-align:center;
    color: #009485;

}


.contactTxt{

    text-align:center;
    color: #009485;
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 8vh;

}





.container3titles {
    display: flex;
    flex-wrap: wrap; /* Allow wrapping to the next line */
    padding-bottom: 10px;
   /* padding-left: 7vh;*/
    padding-right: 1vh;
    padding-top: 10px;
}


.containerEmail {
    display: flex;
    flex-wrap: wrap; /* Allow wrapping to the next line */
    padding-bottom: 10px;
    padding-left: 7vh;
    padding-right: 1vh;
    padding-top: 10px;
}

.box3titles {
   
    color: white;
    text-align: center;
    padding-top: 2vh;
   
   
    flex: 1 1 calc(33% - 20px); /* Responsive width for larger screens */
    box-sizing: border-box; /* Include padding and margin in width */
}




.gallery-item3 {
    width: 79%;
    border-radius: 8px;
    transition: transform 0.2s, filter 0.2s;
  /*  cursor: pointer;*/
   /* border: 1px solid #e35f92;*/
   /* background-color: #e35f92;*/
    
}


.responsive-container {
    width: 100%; /* Adjust as needed */
    max-width: 800px; /* Optional: set a max width */
    overflow: hidden; /* Ensure no overflow */
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    
}

.responsive-image {
    width: 100%; /* Image will take full width of the container */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Remove bottom space for inline images */
}

@media (max-width: 768px) {
    .box3titles {
        flex: 1 1 calc(50% - 20px); /* 50% width on medium screens */
    }
}

@media (max-width: 480px) {
    .box3titles {
        flex: 1 1 100%; /* Full width on small screens */
    }
}


  

.name{

animation: fadeIn 2s ease-in-out forwards;
font-size: 3.5rem; /* Adjust font size as needed */
    color: #fff; /* Text color */
    text-shadow: -30px 10px 5px rgba(0, 0, 0, 0.1); 
    text-align: center;
}

.sub{

    animation: fadeIn 2s ease-in-out forwards;
    font-size: 2.5rem; /* Adjust font size as needed */
        color: #fff; /* Text color */
        text-align: center;
    }

.home-photo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 20px;
   /* padding-top: 20px;*/
    padding-right: 20px;
    padding-bottom: 2px;
}





.container3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.box3 {
    flex: 1 1 25%; /* Flex grow, shrink, and basis */
    margin: 10px;
    max-width: 100%; /* Max width for each box */
    background-color:palevioletred;
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
    color:#fafafa ;
    font-weight: 600;

    
}
.columns3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    gap: 10px; /* Space between columns */
    
}
@media (max-width: 768px) {
    .box {
        max-width: 100%; /* Full width on small screens */
    }
}












.bg {
    animation:slide 8s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #00b4db 50%, #3ac4d1 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-3;
  }
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:8s;
  }
  
  .bg3 {
    animation-duration:7s;
  }
  
  
 
  
  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }


.firstInfo{

    background-color: #fff;
}

.firstInfo2{

    background-color:#00b4db;
}




.photo-item {
    width: 180px;
    margin: 15px;
    text-align: center;
}

.photo-itemLarge {
    width: 750px;
    margin: 15px;
    text-align: center;
}

.photo-icon {
    width: 780px;
    margin: 15px;
    text-align: center;
    background-color:palevioletred;
}
.photo-icon img {
    width: 150px;
    margin: 20px;
    text-align: center;
}


.photo-item img {
    width: 130%;
    border-radius: 8px;
    transition: transform 0.3s;
}

.photo-itemLarge img {
    width: 100%;
    border-radius: 8px;
    transition: transform 0.3s;
}









.photo-item:hover img {
    transform: scale(1.05);
}

.photo-itemLarge:hover img {
    transform: scale(1.05);
}
/* Project and Digital Gallery Styles */
.projects, .digital-gallery, .game-projects, .extra-content {
    padding: 20px;
}

.project-item, .mosaic-gallery img {
    margin: 15px;
}


/* Footer Styles */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}


.title{
  /*  color:#009485;*/
  color: #009485;
    text-align: center;
    animation: fadeIn 2s ease-in-out forwards;
    font-size: 2rem;
    }


    @keyframes fadeIn {
        0% {
            opacity: 0; /* Fully transparent at start */
        }
        100% {
            opacity: 1; /* Fully visible at the end */
        }
    }

/* For web page */

.titleWebP{

    text-align: center;
    padding-top:10px;
}

.textWebP{
    text-align:center;

}

.container {
    max-width: 1050px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.project {
    border: 1px solid #ddd;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    background-color: #fafafa;
}

.project h2 {
    margin: 0;
}

.images {
    display: flex;
   /* justify-content: space-between;*/
    justify-content:center;
    margin-top: 10px;
   
}

.images img {
    width: 20%;
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.1);
    margin-right: 2%;
   
}


.images2 {
    display: flex;
   /* justify-content: space-between;*/
    justify-content:center;
    margin-top: 10px;
   
}

.images2 img {
    width: 80%;
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.1);
    margin-right: 2%;
   
}


button {
    margin-top: 10px;
}



/* for digital gsllery*/

.sizeFoto{
    width: 33%;
}


.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 15px;
    padding: 25px;
    
}

.gallery-item {
    width: 85%;
    border-radius: 8px;
    transition: transform 0.2s, filter 0.2s;
    cursor: pointer;
    border: 6px solid white;
    
}




.gallery-item:hover {
    transform: scale(1.05);
    filter: brightness(90%);
}


.galleryINF {
 
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    grid-template-rows: auto;           /* rows adjust to content */
    gap: 10px;
    padding: 25px;
    
}

.galleryINF-item {
    width: 70%;
    border-radius: 8px;
    transition: transform 0.2s, filter 0.2s;
   /* cursor: pointer;*/
    border: 3px solid rgb(239, 239, 239);
    
}




.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.lightbox-content {
    max-width: 90%;
    max-height: 90%;
}

.close {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 30px;
    color: white;
    cursor: pointer;
}




.btnDown {
    background-color:#009485;; /* Green */
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius:30px;
    margin-left: 44%;
    margin-right: auto;
    cursor: pointer;
  }


  .btnDown1 {
    background-color:#009485;; /* Green */
    border: none;
    color: white;
    padding: 11px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius:30px;

  }



  
  /* Darker background on mouse-over */
  .btnDown:hover {
    background-color:palevioletred;
  }

  .btnDown1:hover {
    background-color:palevioletred;
    color: white;
  }


  .Det
  {
   
   /* border-top: 1px solid#009485;*/
    border-bottom: 4px solid #e35f92;;
    padding-left: 5px;
   padding-top: 2px;
   padding-bottom: 2px;
    border-radius:4px;
   /* background-color: #009485;*/
    margin-top: 10px;
    text-align: center;
  }






  /* for game section*/

  .containerGame {
    display: flex;
    justify-content: center;
    margin-top: 2vh;
    max-width: 400px;
}

.icon {
    position: absolute;
    border-radius:5%;
    animation: carousel 12s infinite ease-in-out;
    max-width: 460px;
}

.one {
 /* filter: hue-rotate(180deg);*/
}

.two {
  /*filter: hue-rotate(90deg);*/
  animation-delay: -3s;
}

.three {
 /* filter: hue-rotate(25deg);*/
    animation-delay: -6s;
}

.four {
    /* filter: hue-rotate(25deg);*/
       animation-delay: -9s;
   }


@keyframes carousel {
    0% {
        transform: translate(-180px);
        scale: 50%;
        z-index: -1;
    }

    33% {
        transform: translate(0px);
        scale: 83%;
        z-index: 1;
    }

    66% {
        transform: translate(180px);
        scale: 50%;
        z-index: -1;
    }

    100% {
        transform: translate(-180px);
        scale: 50%;
        z-index: -1;
    }
}
  


/*para game animaciones*/

.responsive-table {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #ddd;
    margin: 20px 0;
    margin-top: 2%;
  
}
.cell {
    flex: 1;
    padding: 8px;
    border: 0px solid #ddd;
    text-align: center;
  
}
@media screen and (max-width: 600px) {
    .cell {
        flex: 100%; /* Stacks the cells vertically */
        text-align: center;
        position: relative;
       /* padding-left: 50%;*/
    }
    .cell::before {
        content: attr(data-label);
        position: absolute;
        left: 10px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align: left;
        font-weight: bold;
    }
}

.boceto{
    max-width: 310px;
}


.dateUpdate{
    font-size: 13px;
    font-weight: 100;
}



.scroll-box {
    width: 300px;
    height: 550px;
    overflow-y: auto;
    border: 1px solid #ccc;
    margin-bottom: 3vh;
  }


  

  .scroll-box img {
    width: 100%;
    height: auto;
  }

